@charset "utf-8";body{font-family:'Prompt',supermarket, sans-serif;font-size:18px;text-decoration:none;}
.container{padding:5px;}
.row{margin-right:0px;margin-left:0px;margin-top:45px;margin-bottom:45px;}
.p0{padding:0px;}
.p5{padding:5px;}
.p10{padding:10px;}
.pt5{padding:5px 10px;}
.p10{padding:10px;}
.p20{padding:20px;}
.m0{margin:0;}
.fr{float:right;}
.fl{float:left;}
.maxwidth{max-width:100%}
.borderall{border:2px solid #fff;}
.bordertop{border-top-width:thin;border-top-style:solid;border-top-color:#fff;}
.borderdown{border-bottom-width:thin;border-bottom-style:solid;border-bottom-color:#ccc;}
.borderbox{display:inline-block;width:200px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#333;}
.bordergreen{border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#7fc00a;display:inline-block;width:150px;}
.radius{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
/*.bggreen{background-color:#14a77d;}*/
.bgblue{background-color:#2e3191;}
.bggray{background-color:#e9e9e9;}
.bggray1{background-color:#333;}
.bgfooter{background-color:#f2f1f1;}
.bgfixed{background-image:url(../images/bgproduct.jpg);background-repeat:no-repeat;background-position:bottom center;background-attachment:fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.bgscroll{background-image:url(../images/bgabout.jpg);background-repeat:no-repeat;background-position:center center;background-attachment:scroll;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.bghome{background-image:url(../images/bghome.jpg);background-repeat:no-repeat;background-position:left center;background-attachment:scroll;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.ghostbutton{display:inline-block;padding:7px 25px;color:#000;border:thin double #000;text-decoration:none;text-align:center;}
.ghostbutton:hover,.ghostbutton:focus{border-color:#003585;color:#fff;background-color:#003585;text-decoration:none;-webkit-transition:all 0.1s ease-in 0s;-moz-transition:all 0.1s ease-in 0s;-ms-transition:all 0.1s ease-in 0s;-o-transition:all 0.1s ease-in 0s;transition:all 0.1s ease-in 0s;}
.btncategory a{display:inline-block;padding:7px 25px;margin:2px 1px;color:#333;border:2px solid #333;text-decoration:none;text-align:center;}
.btncategory a.active,
.btncategory a:hover,.btncategory a:focus{color:#fff;background-color:#333;text-decoration:none;-webkit-transition:all 0.1s ease-in 0s;-moz-transition:all 0.1s ease-in 0s;-ms-transition:all 0.1s ease-in 0s;-o-transition:all 0.1s ease-in 0s;transition:all 0.1s ease-in 0s;}
.slide{min-height:80vh;}
.service{min-height:60vh;position:relative;}
.textslide{position:absolute;top:50%;transform:translate(-0%, -50%);width:100%;text-align:center;color:#fff;}
.opawhite{background-color:#fff;position:relative;}
.zoom{transition:all 0.3s;}
.zoom:hover{-ms-transform:scale(1.03);-webkit-transform:scale(1.03);transform:scale(1.03);}
.opawhite img{opacity:1;}
a:hover .opawhite img{opacity:0.7;}
.googlemap{background:transparent;position:relative;width:100%;height:450px;top:450px;margin-top:-450px;}
.navbar{margin-bottom:0px;}
.navbar-default{background-color:transparent;}
.navbar-brand img{width:150px;}
.navbar-default .navbar-toggle .icon-bar{background-color:#666;}
.carousel-indicators{bottom:0px;}
.carousel-indicators .active{width:15px;height:15px;background-color:#fff;}
.carousel-indicators li{width:15px;height:15px;background-color:#000 \9;background-color:rgba(0, 0, 0, 0);border:1px solid #fff;border-radius:15px;}
.nav-pills > li > a{color:#000;border:thin solid #000;background-color:transparent;margin:5px 0;border-radius:0;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{color:#2e3191;border-color:#2e3191;background-color:transparent;}
.nav-pills{text-align:center;}
.nav-tabs > li, .nav-pills > li{float:none;display:inline-block;*display:inline;zoom:1;}
.icon, .iconfooter{display:inline-block;text-align:center;padding:5px 0;width:40px;font-size:18px;color:#fff;border-radius:50%;transition:all .2s ease-in;}
.iconfooter{font-size:24px;width:45px;background-color:#d9c593;}
.icon:hover, .iconfooter:hover{background-color:#ae9364;}
@media screen and (max-width:767px){body{font-size:14px;}
h1{font-size:30px;}
h2{font-size:24px;}
h3{font-size:18px;}
.slide{min-height:50vh;}
.service{min-height:40vh;}
.bghome{background-image:none;}
.navbar-brand img{margin-top:-5px;width:80px;}
.navbar-default .navbar-nav > li > a{border-bottom:thin solid #efefef;}
.navbar-nav{margin:0 -15px;}
.navbar-default .navbar-nav > li > a{color:#333;border:none;border-bottom:1px solid #ccc;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#2e3191;border:none;border-bottom:1px solid #ccc;}
}
@media screen and (min-width:768px){.navbar-nav > li > a{padding:10px 25px;margin:20px 10px;}
.navbar .navbar-nav{display:inline-block;float:none;text-align:center;}
.navbar .navbar-collapse{text-align:center;}
.navbar-wrapper{position:absolute;top:0;left:0;right:0;z-index:10;border-bottom:1px solid #fff;}
.navmargin{margin-top:130px;}
}
@media screen and (min-width:768px) and (max-width:991px){.navbar-brand img{width:120px;}
}
@media (min-width:992px){.navbar-nav > li > a{padding:10px 25px;margin:20px;}
}
@media screen and (min-width:1200px){.slide{min-height:90vh;}
}